<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonbox.android.iptv"
    android:sharedUserId="android.uid.system"
    android:versionCode="20160505"
    android:versionName="20160505" >

    <!-- android:sharedUserId="android.uid.system" -->
    <!-- android:versionName="20140924" -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.moon.android.iptv.LauncherApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.moon.android.iptv.MainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--
                <category android:name="android.intent.category.LAUNCHER" />
                m2s的需要将HOME修改为MOONBOXLAUNCHER 
                <category android:name="android.intent.category.MYHOME" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.HOMEPAGE" />
                <category android:name="android.intent.category.MOONBOXLAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                
                       <category android:name="android.intent.category.LAUNCHER" />
                -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moon.android.iptv.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.moon.android.iptv.LanguageActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.moon.android.iptv.UserMsgShowActivity"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.moon.android.iptv.StartAppActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.moon.android.iptv.LifeImageActicvity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.moon.android.iptv.LifeWebActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.moon.android.moonplayer.VodPlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.moon.android.iptv.AppInfoActicity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.moon.android.iptv.MsgService" />
    </application>

</manifest>